
*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

.htaccess
system/.htaccess
admin/application/config/database.php
admin/application/config/myconfig.php
admin/application/config/constants.php
application/config/database.php
application/config/myconfig.php
application/config/constants.php
corporate/application/config/database.php
corporate/application/config/myconfig.php
corporate/application/config/constants.php

